/*----General Styling----*/
body {
    margin: 0%;
}

h1 {
    text-transform:uppercase;
    font-family: Arial Narrow Bold;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

h1:hover {
    filter: grayscale(5%);
    transform: scale(1.01);
    transition: transform 1s;
}

.white-text {
    color: #fff;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

.center {
    text-align: center;
}

.center:hover {
    transition: transform 2s;
    transform: scale(1.01);
}

a {
    color: black;
}

a:hover {
    color: #ff12c4;
}

q {
    font-style: italic;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    filter: grayscale(50%);
    transition: transform 1s;
    transform: scale(1.01);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    padding: 2%;
    background-color: #fff;
}
/*-----End of General Styling-----*/

/*-----Navbar Styling-----*/
.navbar {
    overflow: hidden;
    background-color: #ccc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 3s;
    animation: moveNav 3s;
    border: 1px solid lightpink;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left:0vw;}
}

.navbar a{
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5s;
    animation: moveNavText 5s;
}

@keyframes moveNavText {
    from {top: -100vw;}
    top {top: 0vw;}
}

@media screen and (max-width: 576px) {
    .navbar a {
        width: 25%;
        font-size: 12px;
    }
}

.navbar a:hover {
    background-color: #f4f4f4;
    color: #ff12c4;
    font-weight: bold;
}

.navbar a.active {
    background-color: #ffbbe3;
}
/*-----End of Navbar Styling-----*/

/*-----Video Styling Section-----*/
#typing_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 576px) {
    #typing_video {
        display: none;
    }
}

.video_text {
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}
/*-----End of Video Styling-----*/

/*-----Table Styling Section-----*/
* {
    box-sizing: border-box;
}

.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 425px;
    background-color: #ccc;
    border: 1px groove lightpink;
}

@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;
    }
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 425px;
    background-color: #ffbbe3;
    border: 1px groove lightpink;
}

.column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/*-----End of Table Styling-----*/

/*-----Contact Form Styling Section-----*/
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Garmond;
}

input[type=text]:hover {
    box-shadow: 0 0 5px #ff12c4 inset;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=submit]:hover {
    background-color: white;
    color: #ff12c4;
    transform: scale(1.5);
    transition: transform 1.5s;
}

form {
    border-radius: 5px;
    background-color: #ffbbe3;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*-----End of Contact Form Styling-----*/